.html{
    height: 100%;
}
.body{
    background: linear-gradient(white,#F5EB0F);
    background-repeat: no-repeat;
    height: 100%;
}
.boton{
    background-color:orangered;
    border-radius: 10px;
    height: 20px;
    width: 120px;
    
}
.sing{
    background-color: rgb(58, 237, 103);
    border-radius: 10px;
    height: 20px;
    width: 100px;
   
}
.boton1{
    border-radius: 10px;
    height: 20px;
    width: 150px;
}
.boton2{
    border-radius: 10px;
    height: 20px;
    width: 150px;
}
.boton3{
    border-radius: 10px;
    height: 20px;
    width: 150px;
}